@using Newtonsoft.Json

@model IEnumerable<Protectores.Models.Contacto>

@{
    ViewBag.Title = "Protectores mas cercanos";
}

<script type="text/javascript">
    var data = @Html.Raw(Json.Encode(Model));
</script>

<h2>@ViewBag.Title</h2>
@*Scripts de Geolocation*@
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="~/Scripts/google-api.js"></script>
<script src="~/Scripts/MapMarker.js"></script>

<div id="dvMap" style="height: 500px" class="col-md-12"></div>

<script type="text/javascript">
    initMap(data);
</script>
