@{
    ViewBag.Title = "Protectores";
}

<div class="jumbotron margin-top-20">
    <h1>¿Necesitas ayudas?</h1>
    <h2>Ingresa tu dirección</h2>

    <form>
        <div class="input-group">
            <input id="pac-input" class="form-control" type="text" placeholder="ingresa tu dirección" aria-describedby="basic addon2" style="width:100%">
            <div class="input-group-btn" role="group">
                <button type="button" class="btn btn-success" onclick="initialize();">Buscar</button>
                <button type="button" class="btn btn-danger" onclick="GeoSucces();">Auto-detectar</button>
            </div>
        </div>
        
    </form>
</div>
<script src="~/Scripts/autocompletar.js"></script>
<script src="~/Scripts/google-api.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA6Lm_D_YgYKyr-we3kWN4od3MAd9gQcA&signed_in=true&libraries=places" async defer></script>
