@{
    ViewBag.Title = "Protectores";
}

<div class="jumbotron">
    <h1>¿Necesitas ayudas?</h1>
    <h2>Ingresa tu dirección</h2>
    <form>
        <div class="input-group">
            <input type="text" id="pac-input" class="form-control" placeholder="ingresa tu dirección" aria-describedby="basic addon2" style="width:100%">
            <div class="input-group-btn" role="group">
                <button type="button" class="btn btn-danger" onclick=location.href='@Url.Action("Index", "Location")'>Auto-detectar</button>
                
                <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index", "Location")'">Auto-detectar</button>
            </div>
        </div>
    </form>
</div>



@*Script de Autocompletar*@
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initMap" async defer></script>
<script src="~/Scripts/autocompletar.js"></script>

