
@{
    ViewBag.Title = "Location";
}

<h2>Location</h2>

@*Script de Geolocation*@
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="~/Scripts/google-api.js"></script>

@*Supongo que esta etiqueta va en la hoja de estilo*@
<div id="dvMap" style="width: 800px; height: 400px"></div>

<div id="Latitud"></div>